<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
    <add key="repositorypath" value=".\packages" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="ARDev" value="https://artifactory-ehv.ta.philips.com/artifactory/api/nuget/HSDP-CP-DevNugetVirtual-Archive" />
    <add key="ARRel" value="https://artifactory-ehv.ta.philips.com/artifactory/api/nuget/HSDP-CP-Nuget-release" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ARDev">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ARRel">
      <package pattern="Philips.HealthSuite.*" />
    </packageSource>
  </packageSourceMapping>
  <packageManagement>
     <add key="format" value="1" />
     <add key="disabled" value="False" />
  </packageManagement>
</configuration>
