<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="accessKey" value="ASIAQQ7A3245FLP5LKQE"/>
		<add key="secretKey" value ="5AfKkeFEQkPvYWZgg2mIvKT1jdlS0+4C9g9ry3GE"/>
		<add key="sessionToken" value="IQoJb3JpZ2luX2VjEG4aCXVzLWVhc3QtMSJGMEQCIGbztW7rfxmYOyMK7k5AM46bbBNwd4cKoAm9KDZxXypvAiBIkDjkzV1KKecP/nW38J1VEc8N9Oj58Sqcl/FykkKr6SqcAwiG//////////8BEAEaDDAzNjQ0MTkzNzcyMiIMx5+TikBzIJqiIX5zKvACDIZOlUijQ5LaGi0pIAvXZZsjFwqPkNSCQ9RXdcZJEU7UJ9EIlEgccetQvjV9UJx/fBIyF7XiGZN5PeFr+KDjxhDlYQgkT1W33d/j1HQFdn2qQGLrLU6933WqzZsUzo4WMCzqzU9d/vXHwgvB3hu68bkHpOvaUeIvrXSGNoIbhczFS6VwwyjP1RHe2FonZ8ZXdTUAvb7PYpdtyCz4igI4ilakyeUA0SM1Gjxj4U1bUU/IheeOKa77OHKr0c3uc2tjJApPu1pH8ptyxUqiipaEAgfVxnrNV7FIzj9naV/LZDZLQZbzLFWoLYN0JLLPFDJzi34Ep23FV1gbAz9FRfk+hKmlXfC/pcq2gJpL0kU7fsdpRGLfDzfXvob8AwZvqT9NOkLGyio6Fiyl5+KTbYLhO2sX8Cy83lB8jab/YHsknbfaO7NLra9S+PnXibrr8vj/spZqAKy7eGeJ1bR8z71tODXTF4goRoM3KbK6ICti4eQwwqy4qQY6pwH4VklYoGqgtUy5GI4cTtyRC1flMURlzPBqOW+EzifMbC4U/SQlU7oeiX5TFgOdCNMyLDIPs4wELipx1QSvVmLEbyi+aoKqI7D6dGbPICWcJj72IXPZNiH02jWMrSRqgQ6h7hRlABlp3J9YLLn8C3eF7ZDO2m/S8asEpN+hZ+7TbSYlHY/CWMLbTT8l+peCcpq50XtRsK3qdq4Hu/BNgjwZmYRm07RBaw=="/>
	</appSettings>
</configuration>